.full-recipe-container {
    display: flex;
    flex-direction: column;
}

.full-recipe {
    max-width: 80ch;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-title {
    margin-block: 0.5em;
}

.main-image {
    width: 100%;
}

.star-container {
    display: flex;
    column-gap: 5px;
    align-items: center;
    height: 30px;
}

button.star-container {
    cursor: pointer;
    background-color: var(--off-white-1);
    border: 1px solid var(--off-white-3);
    border-radius: 5px;
}

button.star-container:hover {
    background-color: var(--off-white-2);
}

.star {
    color: var(--primary-yellow);
}

.starred {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button .star-count {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: var(--off-white-3);
    min-width: 20px;
    min-height: 16px;
    border-radius: 50%;
    text-align: center;
}
