header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-red);
    padding: 20px;
}

.right {
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.meals-made-easy {
    color: var(--primary-white);
}
